<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>The Western Defense</h2>
                <p><a href="https://orgsync.com/102825/chapter">Official Dota 2 Organization</a> @ <a href="https://www.wwu.edu/">WWU</a></p>
                <ul class="actions">
                    <li><a href="http://steamcommunity.com/groups/TheWesternDefense" class="button big alt">Steam</a></li>
                    <li><a href="https://discord.gg/0YUChyUcBb0aND04" class="button big alt">Discord</a></li>
                    <li><a href="https://www.facebook.com/groups/wwudota/" class="button big alt">Facebook</a></li>
                    <li><a href="https://twitter.com/WWUDota" class="button big alt">Twitter</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
