<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>The Vikingwatch</h2>
                <p><a href="https://orgsync.com/102825/chapter">Official Overwatch Organization</a> @ <a href="https://www.wwu.edu/">WWU</a></p>
                <ul class="actions">
                    <li><a href="https://discordapp.com/invite/pMqqjaU" class="button big alt">Discord</a></li>
                    <li><a href="https://www.facebook.com/groups/WWUOverwatch/" class="button big alt">Facebook</a></li>
                    <li><a href="https://twitter.com/WWUOverwatch" class="button big alt">Twitter</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
